body {
    background-color: #9C835F;
    background-size: cover;
    font-family: 'Fredoka',Arial, Helvetica, sans-serif;
    margin: 0;

}

.container6 {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px 0px;
}

li {
    color:#724C21;
    padding-right: 20px;
    list-style: none;
    font-size: 30px;
    text-decoration: none;
    justify-content: center;
}

.container6 img {
    width:50px;
    height:50px;
    margin-right: 20px;
}


h1 {
    margin: 5px;
    color: orange;
}

.container7 {
    display: flex;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px 0px;
    text-align: center;
}

.container7 .col {
    font-size: 25px;
    font-weight: bold;
}

.container8 {
    display: flex;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px 0px;
    text-align: center;
}

.container9 {
    display: flex;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px 0px;
    text-align: center;
}

.container9 .col-2 {
    /* padding: 25px; */
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: red;
}

.container10 {
    display: flex;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px 0px;
    text-align: center;
}

.container11 {
    display: flex;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px 0px;
    text-align: center;
}


.container8 img {
    width:130px;
    height:120px;
    margin-right: 20px;
    border-radius: 4em;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    transition-duration: 0.4s;
}

.container8 img:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .container8 img:after {
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .container8 img:active:after {
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0.5s;
  }
  
  .container8 img:active {
    top: 1px;
  }
  

  .container9 img {
    width:130px;
    height:120px;
    margin-right: 20px;
    border-radius: 4em;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    transition-duration: 0.4s;
}

.container9 img:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .container9 img:after {
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .container9 img:active:after {
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0.5s;
  }
  
  .container9 img:active {
    top: 1px;
  }
  

  .container10 img {
    width:130px;
    height:120px;
    margin-right: 20px;
    border-radius: 4em;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    transition-duration: 0.4s;
}

.container10 img:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .container10 img:after {
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .container10 img:active:after {
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0.5s;
  }
  
  .container10 img:active {
    top: 1px;
  }
  

  .container11 img {
    width:100px;
    height:70px;
    margin-right: 20px;
    border-radius: 4em;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    transition-duration: 0.4s;
}

.container11 img:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  
  .container11 img:after {
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .container11 img:active:after {
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0.5s;
  }
  
  .container11 img:active {
    top: 1px;
  }
  